* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e5e5e5; 
    color: #ffffff; 
}

header {
    background-color: #000000; 
    color: rgb(230, 180, 16);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f0c413;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000000; 
}

.hero {
    background-color: #000000; 
    color: #f0c413;
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: #8d8d8d; 
    color: #f0c413;
    padding: 12px 25px;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #ad8a1f; 
}

main {
    padding: 40px 20px;
    background-color: #8d8d8d; 
    text-align: center;
}

main h2 {
    font-size: 2.2rem;
    color: #f0c413; 
    font-weight: bold;
    margin-bottom: 20px;
}

main p {
    font-size: 1.1rem;
    color: #f0c413; 
    margin-bottom: 30px;
}

.barbershop-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonials {
    margin-top: 40px;
}

.testimonials h3 {
    font-size: 2rem;
    color: #f0c413; 
    margin-bottom: 20px;
}

.testimonials blockquote {
    font-size: 1.1rem;
    font-style: italic;
    color: #f0c413; 
    border-left: 5px solid #000000;
    padding-left: 20px;
    margin: 10px auto;
    max-width: 600px;
}

.testimonials footer {
    font-size: 1rem;
    font-weight: bold;
    color: #f0c413; 
}

footer {
    background-color: #000000; 
    color: #ad8a1f;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    font-size: 1rem;
    font-weight: 300;
}

.barbershop-image {
    width: 50%; 
    max-width: 400px; 
    height: auto; 
    filter: grayscale(100%); 
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgb(242, 195, 10);
    cursor: pointer; 
    transition: filter 0.3s ease; 
}


.barbershop-image:hover {
    filter: grayscale(50%); 
}